 .u-section-1 {
  min-height: 936px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 919px);
  height: 604px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 541px;
  min-height: 441px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -575px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 112px 280px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 21px 0 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  margin: 21px 28px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 740px;
  margin: -341px auto 60px calc(((100% - 1140px) / 2) + 39px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 733px);
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    min-height: 386px;
    margin-top: -540px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 39px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 638px);
  }

  .u-section-1 .u-group-1 {
    width: 436px;
    margin-top: -318px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 39px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 898px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 445px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -154px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 701px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 638px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 284px);
    height: 581px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 300px;
    margin-top: 43px;
    margin-right: auto;
    margin-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 441px;
    margin-left: calc(((100% - 340px) / 2));
  }
}